#col{
    display: inline;
    width: 85%;
    height: 100vh;
    float: right;
    background-image: 
    url("../../src/imagem/imagem01.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

